.gamesPage-body {
    padding-bottom: 50px;
}

.gamesPage-title {
    padding-left: 5px;
}

.gamesPage-grid {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 7%;
}

.gamesPage-card {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    padding-bottom: 45px;
}

.gamesPage-card img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gamesPage-cardContent {
    background-color: #C5C6C7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
}

.gamesPage-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 5px;
}

.gamesPage-price-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.gamesPage-price {
    font-size: 15px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gamesPage-favorite {
    margin-left: 10px;
    margin-top: auto;
}

.gamesPage-buttonLoad {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.gamesPage-buttonLoad button {
    background-color: #73787C;
}

.gamesPage-buttonLoad button:hover {
    background-color: #879A77;
}


.icon {
    font-size: 30px;
}