.game{
    width: 10%;
    padding: 5px;
    box-sizing: border-box;
    padding-bottom: 45px;
}

.game img {
    max-width: 100%;
    max-height: 100%;
}


.gamesLayout {
    display: flex;
    flex-wrap: wrap;
}

.bodyLayout {
    padding-bottom: 50px;
}

.buttonLoad {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.buttonLoad button {
    background-color: #73787C;
}

.buttonLoad button:hover {
    background-color: #879A77;
}